html {
  scroll-behavior: smooth;
}

.hero,
.about,
.contact {
  height: 100vh;
}

.hero {
  background-color: var(--primary-color);
}

.about {
  background-color: green;
}

.contact {
  background-color: blue;
}